/*vikas kumar*/


html,
body{
	background-color: #fff;
	color: #4B4B4B;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

header .row {
	position: relative;
	width: 100%;
	height: 400px;	background-color: #CFCFCF;
}

header .row .header-text-box {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	width: auto;
	display: inline-block;

	background-color: #A7A7A7;
	z-index: 9999;
}


header .text-box {
	background-color: #5C5C5C;
	width: 60%;
	height: 100%;

}

header .buy-box {
	background-color: #1A1A1A;
	width: 40%;
	height: 100%;

}