/* queries.css for responsive behaviour of stylesheet*/

/* Author: Vikas Kumar (@dzenvikas) */








/* Small tablets to 1200px: from 768px to 1200px */

@media only screen and (max-width: 1200px) {
	header {
		margin-bottom: 100px;
	}


	.btn-row {
		width: 100%;
		padding: 0;
		margin: 20px 40px 40px 0;
		text-align: right;
		font-weight: 500;
	}

	.section-arrow-down {
		display: none;
	}


	.ftr-text-box {
    padding: 5%;
  }

	.section-downl {
		background-size: cover;
		background-position: 30% 50%;
	}

	.section-downl {
		height: 550px;
	}

.section-downl .downl-box {
		width: 55%;
	}

	.section-reviews .row{
		margin: 0 5% 0 5%;
	}

	.section-reviews .row{
		width: 100%;
	}

	.section-reviews .review-box {
		padding: 2%;
		margin: 0;
		width: 30%;
		margin-bottom: 40px;
	}
	.section-reviews .review-box .review-user-info{
		font-size: 85%;
	}

}




/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {

	header {
		margin-bottom: 30%;
	}

	.header-text {
		width: 100%;
		padding: 5%;
		text-align: center;
	}

	.header-text h1{
		margin-top: 120px;
	}

	.header-text h3{
		font-size: 90%;
		font-weight: 400;
	}


	.header-text p{
		font-size: 140%;
		font-weight: 100;
	}


	.section-downl {
		background-size: cover;
		background-position: 35% 50%;
	}


	.section-reviews{
		width: 100%;
		margin-bottom: 25px;
	}


	.section-reviews .review-box{
		width: 100%;
		margin: 25px 0;
	}

	.section-reviews .review-box:after{
		display: block;
		height: 1px;
		background-color: #B8B8B8;
		content: " ";
		width: 100%;
		margin-top: 100px;
	}

	.section-reviews .review-user .col{
		width: auto;
		padding-right: 5%;
	}
}




/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

	body{ margin: 0; }
	header {
		padding: 0;
	}

	.btn-row{
		width: 100%;
		padding: 0;
		margin: 40px 0 0 0;
		text-align: center;
		font-weight: 500;
	}

	.header-text {
		width: 100%;
		padding: 5%;
		text-align: center;
	}

	.header-text h1{
		margin-top: 120px;
	}

	.header-text h3{
		font-size: 90%;
		font-weight: 400;
	}


	.header-text p{
		font-size: 140%;
		font-weight: 100;
	}


	.header-hl {
		padding: 0;
		margin: 0;
	}

	.section-arrow-down {
		display: none;
	}


	.section-ftr {
		margin-top: 200px;
		margin-bottom: 0;
	}


	.section-ftr .ftr-icon-box{
		display: none;
	}

	.ftr-text-box {
		padding: 5% 10%;
		margin: 0;
	}

	.ftr-text-box:after {
		display: block;
		height: 1px;
		background-color: #B8B8B8;
		content: " ";
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
	}



	.section-arch {
		padding-top: 0;
		padding-bottom: 10%;
	}


	.section-downl {
		background-image: none;
		height: auto;
	}


	.section-downl .downl-box {
		width: 100%;
		text-align: center;
	}


	.section-reviews{
		width: 100%;
		margin-bottom: 25px;
	}


	.section-reviews .review-box{
		width: 100%;
		margin: 25px 0;
	}

	.section-reviews .review-box:after{
		display: block;
		height: 1px;
		background-color: #B8B8B8;
		content: " ";
		width: 100%;
		margin-top: 100px;
	}

	.section-reviews .review-user .col{
		width: auto;
		padding-right: 5%;
	}


	.section-footer {
		width: 100%;
		margin: 0;
		font-size: 70%;
	}


	.section-footer .row ul{
		width: 100%;
		display: block;
		text-align: center;
		float: none;
		padding: 15px 0;
	}


	.section-footer .copyright-text {
		text-align: center;
	}

}	




/*------------------ E N D -----------------------*/