/* FOR FABGRAD */
/* Author: Vikas Kumar (@dzenvikas) */


/*orange color: #FF6F00 */
/*orange color_NEW: #FF9E00 */




/*--------------------------------*/
/* BASIC SETUP */
/*--------------------------------*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body{
	background-color: #fff;
	color: #4B4B4B;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.clearfix {zoom:1;}

.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}




/*--------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------*/

.row{
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}


 
.section-ftr h3:after,
.section-arch h3:after,
.section-reviews h3:after {
	display: block;
	height: 2px;
	background-color: #FF7300;
	content: " ";
	width: 200px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}


/*----- HEADINGS -------*/
h1, h2, h3{
	font-weight: 300;
	text-transform: uppercase;
}


h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}


h2 {
	font-size: 140%;
	word-spacing:  2px;
	letter-spacing: 1px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
	text-align: center;
	margin-bottom: 30px;
}

.center-text,
.center-text-2 {
	padding: 0 auto;
	margin: 0 auto;
}





/*--------------------------------*/
/* HEADER */
/*--------------------------------*/

header {
	padding-top: 3%;
	background-size: cover;
	background-image: url(img/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

header h1 {
	text-transform: none;
	font-size: 300%;
	font-weight: 600;
	padding-bottom: 15px;
	font-family: 'Lobster Two', 'Arial', sans-serif;
}

.header-text {
	font-weight: 300;
	margin-bottom: 70px;
	width: 50%;
	text-align: center;
}


.header-text p{
	font-size: 200%;
		font-weight: 100;
}




/*--------------------------------*/
/* SIGN BUTTONS */
/*--------------------------------*/
.btn-row {
	text-transform: uppercase;
	margin-top: 1%;
	float: right;
	margin-right: 5%;
}

.btn-row .btn {
	display: inline-block;
	margin: 0 0 0 15px;
	font-size: 80%;
}


.btn-row .btn:last-child {
	margin-right: 0;
}


.btn-row .btn a {
	color: #666666;
	font-weight: 400;
}

.btn-row .btn-sign-up a {
	color: #FF9E00;
	font-weight: 400;
}

.btn-row .btn-sign-up a:hover {
	border-bottom: 1px solid #FF9E00;
}


.btn-row .btn-sign-in a:hover {
	color: #000;
}





/*--------------------------------*/
/* DIV HIGHLIGHTS */
/*--------------------------------*/

.header-hl {
	height: 120px;
	text-align: center;
}



.hl-box {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin-right: 20px;
}


.hl-icon-box {
	width: auto;
	height: 60%;
	margin: 0 20%;
	padding-bottom: 10px;
}



.hl-icon-box img{
	height: 100%;
}



.hl-text {
	width: 100%;
	height: 40%;
	font-size: 90%;
	overflow: hidden;
}



.hl-box:last-child {
	margin-right: 0;
}



/*--------------------------------*/
/* DOWN ARROW */
/*--------------------------------*/

.section-arrow-down{
	text-align: center;
	margin: 60px 0;
	padding: 0;
}

.section-arrow-down .arrow-down{
	color: #4B4B4B;
	font-size: 140%;
}



/*--------------------------------*/
/* SECTION FEATURES */
/*--------------------------------*/

.section-ftr {
	padding-top: 60px;
}

.section-ftr h3 {
	font-weight: 400;
}

.arrow-down{
	font-size: 200%;
	margin-top: 10px;
}

.ftr-icon-box {
	font-size: 150px;
	text-align: center;
}

.ftr-icon-box img{
	width: 60%;
}

.section-ftr .row-r {

}

.ftr-text-box {
	padding: 80px;
}



/*--------------------------------*/
/* SECTION ARCHITECTURE */
/*--------------------------------*/

.section-arch .row{
	width: auto;
	height: auto;
	font-weight: 400;
	font-size: 80%;
	text-align: center;
	margin-bottom: 40px;
}

.section-arch h3{
	font-weight: 400;
}

.section-arch .arch-box {
	display: inline-block;
	width: 350px;
	height: 350px;
  padding: 15px;
}



.section-arch .arch-box .arch-logo-box{
	width: 100%;
	height: 60%;
	padding: 10px;
}

.section-arch .arch-box img{
	width: auto;
	height: 100%;
	padding-bottom: 15px;
}


.section-arch .arch-box .arch-text-box{
	width: 100%;
	height: 40%;
	padding: 0 10px;
}


.section-arch .arch-box .arch-text-title{
	width: 100%;
	max-height: 40%;
	font-weight: 600;
	padding-bottom: 15px;
}

.section-arch .arch-box .arch-text{
	padding-bottom: 10px;
	height: 60%;
	max-width: 100%;
	padding: 0 20px;

}




/*--------------------------------*/
/* SECTION DOWNLOAD */
/*--------------------------------*/

.section-downl {
	background-image: url(img/bg-download.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
	background-color: #96FFEC;
	height: 650px;
	width: 100%;
	font-size: 90%;
}
.section-downl .downl-box{
	float: right;
	width: 40%;
	padding: 15% 0 15% 5%;
}


.section-downl .downl-text-box,
.section-downl .downl-btn-box {
	height: auto;
	padding-bottom: 30px;
}

.section-downl .downl-text-box p {
	height: auto;
	padding-bottom: 20px;
}


.section-downl .downl-text-box .downl-title {
	font-weight: 400;
	font-size: 140%;
}


.downl-btn img{
	height: 50px;
	width: auto;

}




/*--------------------------------*/
/* SECTION REVIEW */
/*--------------------------------*/


.section-reviews {
	background-color: #fff;
}


.section-reviews h3{
	padding: 5% 0 10% 0;
	font-weight: 400;
}

.section-reviews .row {
	align-self: center;
	margin-bottom: 20px;
	width: 80%;
	margin: 0 10% 5% 10%;
}


.section-reviews .row:last-child {
	margin-bottom: 0;
}


.section-reviews .review-box {
	width: 28%;
	height: auto;
	font-size: 80%;
	display: inline-block;
	margin-right: 7%;
}


.section-reviews .review-box:last-child {
	margin-right: 0;
}


.section-reviews .review-text {
	width: 100%;
	height: 70%;
	margin-bottom: 20px;
}


.section-reviews .review-user {
	width: 100%;
	height: 30%;
}


.section-reviews .review-user img {
	width: auto;
	height: 60px;
}

.section-reviews .review-rating {
	display: inline-block;
	margin-bottom: 10px;
}



/*--------------------------------*/
/* SECTION FOOTER */
/*--------------------------------*/


.section-footer {
	background-color: #DFDFDF;
	font-weight: 400;
	font-size: 85%;
	padding: 3%;
}

.section-footer .footer-text-box,
 .section-footer .footer-icon-box {
	display: inline-block;
	padding-right: 30px;
}

.section-footer .footer-text-box:last-child,
.section-footer .footer-icon-box:last-child {
	padding-right: 0;
}


.section-footer .footer-icon-group {
	float: right;
}

.footer-text,
.footer-icon {
	color: #4B4B4B;
	text-transform: capitalize;
}


.footer-icon {
	font-size: 130%;
}


.footer-text:hover {
	color: #000;
	border-bottom: 2px solid #FF9E00;
}

.ion-social-facebook:hover {
	color: #3b5998;
	border-bottom: 2px solid #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
	border-bottom: 2px solid #00aced;
}

.ion-social-googleplus:hover {
	color: #d34836;
	border-bottom: 2px solid #d34836;
}

.ion-social-linkedin:hover {
	color: #007bb5;
	border-bottom: 2px solid #007bb5;
}


.section-footer p {
	margin-top: 15px;
	color: #838383;
	font-size: 80%;
}



/*------------------ E N D -----------------------*/
